body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif !important;
}
:root {
  --white-background: #ffffff;
  --white-text: #ffffff;
  --bas-color1: #284395;
  --info-bas-color: #4de1ff;
  --footer-text-color: rgba(255, 255, 255, 0.7);
}
.section-heading {
  font-size: 40px;
  font-weight: 700;
  color: rgb(10, 32, 96);
}
/* ======= header ========== */
header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}
.nav-group li, .nav-top-item li {
  list-style-type: none;
  
}
.nav-group li a,
.nav-group li .cm-dropdown {
  font-size: 16px !important;
  font-family: "Source Sans Pro";
  font-weight: 500;
}
.nav-group li a,.nav-group li .cm-dropdown, .nav-top-item li a {
  color: var(--white-text);
  font-weight: 500;
  font-size: 14px;
  font-family: "Source Sans Pro";
}
.nav-group > li > a:hover,
.nav-group > li .cm-dropdown:hover,
.nav-top-item > li > a:hover {
  color: var(--info-bas-color) !important;
}
.nav-group > li > a:focus, 
.nav-top-item > li > a:focus {
  color: var(--info-bas-color) !important;
}
.nav-group li .cm-dropdown img {
  filter: invert(100%);
  width: 14px;
  height: auto;
  margin-top: 2px;
  margin-left: 5px;
}
.nav-top-item {
  padding: 0px 15px;
  transition: all 0.4s ease-in-out;
}
/* begin dropdonw  */
.cm-dropdown {
  position: relative;
  cursor: pointer;
}
.cm-dropdown:hover .dropdown-item1 {
  top: 63px;
  opacity: 1;
  visibility: visible;
}
.dropdown-item1 {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 18px 50px 0px rgba(8, 96, 168, 0.5);
  transition: 300ms ease;
  padding-bottom: 10px;
  border-radius: 0 0 20px 20px;
  left: 0px;
  top: 110px;
}
.dropdown-item1 a {
  display: block;
  font-family: inherit;
  padding: 12px 20px;
  line-height: 1.625;
  font-size: 16px !important;
  color: rgb(10, 32, 96) !important;
  font-weight: 400;
  text-decoration: none;
  transition: background-color 300ms ease, color 300ms ease;
  
}
.dropdown-item1 a:hover {
  color: rgb(0, 92, 194) !important;
}
.arrowhover1:hover img, 
  .arrowhover2:hover img{
  transform: rotate(180deg);
}
.cm-dropdown img {
  transition: 0.4s ease;
}
/* end  dropdonwn  */
.menu-button {
  border: none;
  background: none;

}
.menu-button i {
  font-size: 25px;
  color: var(--white-text);
}
.search {
  background: none;
  border: none;
}
.search i {
  font-size: 25px;
  color: var(--white-text);
}
/* ========== header end ========== */
/* begin mobile header  */
.offcanvas-body > a {
  display: block;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: rgb(10, 32, 96);
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.offcanvas-body > a:hover, .accordion-button {
  color: rgb(0, 92, 194);
}
/* begin accordion customise  */
.accordion {
  --bs-accordion-color: rgb(10, 32, 96);
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: rgba(0, 0, 0, 0.1);
  --bs-accordion-border-width: 0px;
  --bs-accordion-border-radius: ;
  --bs-accordion-inner-border-radius: ;
  --bs-accordion-btn-padding-x: 0px;
  --bs-accordion-btn-padding-y: 10px;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: ;
  --bs-accordion-btn-focus-box-shadow: ;
  --bs-accordion-body-padding-x: ;
  --bs-accordion-body-padding-y: ;
  --bs-accordion-active-color: rgb(0, 92, 194);
  --bs-accordion-active-bg: ;
}
.accordion-button {
  font-family: Source Sans Pro;
  font-size: 16px;
  color: rgb(10, 32, 96);
}
.accordion-body > a {
  display: block;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-size: 16px;
  color: rgb(10, 32, 96);
  padding: 7px 0;
  margin-left: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.accordion-body > a:hover {
  color: rgb(0, 92, 194);
}
/* end accorion customise  */
/* ========= main content =========== */
.main-content-container {
  padding-top: 0px;
}
/* banner slider begin  */
#banner-section-title-typing-effect {
  font-size: 2rem;
  font-weight: 700;
  color: var(--bas-color1);
  max-width: 400px;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 100;
}
banner-slider .swiper-wrapper {
  max-width: 100%;
  max-height: 600px;
}
.banner-slider .swiper {
  width: 100%;
  height: 100%;
}

.banner-slider .swiper-slide {
  background-position: center;
  background-size: cover;
}

.banner-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-slider .swiper-pagination-bullet {
  width: 40px !important;
  height: 5px;
  border-radius: 0px;
}
.banner-slider .swiper-pagination-horizontal {
  left: 10% !important;
  bottom: 20%;
  width: 221px;
}
.banner-slider .swiper-pagination-bullet-active {
  background-color: var(--info-bas-color);
  width: 60px !important;
}
/* end banner slider  */
/* begin title  */
.title-section-bg {
  background-image: url(/assets/img/title-section-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #005cc2;
}
.title-section-bg h2 {
  font-size: 3rem !important;
  font-family: 'Barlow', sans-serif;
}
/* end title  */
/* begin landmark section  */
.landmark-seciton >div>div h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 70px;
}
.landmark-seciton {
  margin-top: -6px;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/landmark-section-img/landmark-section-bg.png);
  background-repeat: no-repeat;
  position: relative;
}
.landmark-secton-content {
 color: var(--white-text);
 position: absolute;
 right: 0px;
 left: 0px;
 top: 0px;
 bottom: 0px;
 z-index: 30;
 
}
.landmark-secton-content h3{
  font-size: 40px;
  font-weight: 500;
}
.landmark-secton-content p {
  font-size: 19px;
}
.overlay {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 0.8;
}
.news-room {
  width: 100%;
  height: 400px;
  background-color: #005cc2;
  position: relative;
  padding: 20px;
  overflow: hidden;
}
.news-room .top {
  position: absolute;
  width: 100%;
  height: 0.475rem;
  background-color: var(--info-bas-color);
  top: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none;
  z-index: 10;
}
.news-room .bottom {
  background-color: #005cc2;
  height: 15px;
  margin-top: 7px;
}
.news {
  padding: 10px 0px;
}
.news-date {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white-text);
  border: none;
  padding: 0.125rem 0.5rem;
  font-size: 20px;
  pointer-events: none;
}
.news-date:hover {
background-color: rgba(255, 255, 255, 0.2) ;
}
.news-name {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Barlow", serif;
  color: var(--white-text);
}
.news-name:hover {
  color: var(--white-text);
}
.news-room-content {
  animation: news-room-content-scrol 39s linear infinite;
}
@keyframes news-room-content-scrol {
  0% {
    margin-top: 0px;
  }
  100%{
    margin-top: -1657px;
  }
}
/* paused scrol  */
.news-room .news-room-content:hover{
  animation-play-state: paused;
}
/* end landmark-seciton  */
/* begin becon brand slider */
.becon-brand-sectoin {
  position: relative;
}
.brand-slider {
  margin: 0px 30px;
  overflow: hidden;
  position: static !important;
}
.brand-slider .swiper-wrapper {
  position: static !important;
}
.brand-slider .swiper {
  width: 100%;
  height: 100%;
}

.brand-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-slider .swiper-slide a {
  width: 300px;
}
.brand-slider .swiper-slide a .img-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.brand-slider .swiper-slide a:hover img {
  transform: scale(1.2);
}
.brand-slider .swiper-slide a img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.brand-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Barlow";
  color: rgb(10, 32, 96);
}
.brand-slider .swiper-slide a >div i {
  color: #005cc2;
  font-size: 25px;
}
/* end beacon brand slider  */
/* begin becon new brand slider  */
.becon-new-brand-sectoin {
  background-color: rgb(232 232 232 / 79%);
  position: relative;
}
.new-brand-slider {
  margin: 0px 30px;
  overflow: hidden;
  position: static !important;
}
.new-brand-slider .swiper-wrapper {
  position: static !important;
}
.new-brand-slider .swiper {
  width: 100%;
  height: 100%;
}

.new-brand-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-brand-slider .swiper-slide a {
  width: 300px;
  overflow: hidden;
}
.new-brand-slider .swiper-slide a .img-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.new-brand-slider .swiper-slide a:hover img {
  transform: scale(1.2);
}
.new-brand-slider .swiper-slide a img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.brand-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Barlow";
  color: rgb(10, 32, 96);
}
.new-brand-slider .swiper-slide a >div i {
  color: #005cc2;
  font-size: 25px;
}
/* end becon new brand slider  */
/* begin news media slider  */
.becon-newsmedia-sectoin {
  position: relative;
}
.news-media-slider .swiper-wrapper {
  position: static !important;
}
.news-media-slider {
  margin: 0px 30px;
  overflow: hidden;
  position: static !important;
}
.news-media-slider .swiper {
  width: 100%;
  height: 100%;
}

.news-media-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-media-slider .swiper-slide a {
  width: 340px;
  overflow: hidden;
}
.news-media-slider .swiper-slide a .img-container {
  width: 100%;
  overflow: hidden;
}
.news-media-slider .title {
  margin-top: 20px;
  text-align: left;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: rgb(10, 32, 96);
  margin-bottom: 30px;
  display: block;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}
.news-media-slider .swiper-slide a:hover img {
  transform: scale(1.2);
}
.news-media-slider .swiper-slide a img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.news-media-slider {
  font-size: 20px;
  color: rgb(10, 32, 96);
}
.news-media-slider .swiper-slide a >div i {
  color: #005cc2;
  font-size: 25px;
}
/* end news media slider  */
/* slider next and prev button desing  */
.swiper-button-next, .swiper-button-prev{
  color: black !important;
}
.swiper-button-next::after, .swiper-button-prev::after{
  font-size: 25px !important;
}
.swiper-button-next{
  right: 0px !important;
  top: 54%;
} 
.swiper-button-prev {
  left: 0px !important;
  top: 54%;
}
/* begin footer  */
.footer {
  background-color: #0a2060;
}
.addres {
  color: var(--footer-text-color);
  font-size: 20px;
  max-width: 300px;
  font-weight: 400;
}
.footer .link a {
  text-decoration: none;
  font-size: 14px;
  font-size: normal;
  color: var(--white-text);
  transition: all 0.3s ease-in-out;
}
.footer .link a:hover {
  color: var(--info-bas-color);
}
.footer-icon-container {
  display: flex;
  gap: 10px;
}
.footer-icon-container a {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--footer-text-color);
  transition: all 0.2s ease-in-out;
}
.footer-icon-container a:hover {
  background-color: var(--white-background);
}
.footer-link a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: var(--footer-text-color);
  padding: 7px 0px;
  font-weight: 400;
}
.footer-link a:hover {
  color: var(--info-bas-color);
}
.footer-bottom .link a{
 text-decoration: none;
 font-size: 14px;
 font-weight: 500;
 color: var(--footer-text-color);
}
.copyright {
  font-size: 14px;
  font-weight: 500;
  color: var(--footer-text-color);
  margin: 0px;
}

/* begin responsive */
/* begin mobile  */
@media (min-width: 250px) and (max-width: 720px) {
  /* begin banner seciotn  */
  .banner-slider .swiper-wrapper {
    height: 400px
   }
   .banner-slider .swiper-pagination-horizontal {
    bottom: 10%;
    left: 5%;
   }
   #banner-section-title-typing-effect {
    top: 30%;
    left: 5%;
   }
   /* end banner section  */
   /* begin landmark sectoin  */
   .landmark-seciton {
    height: 1250px;
   }
   /* end landmark section  */
}
/* end mobile  */
/* begin tab  */
@media (min-width: 720px) and (max-width: 992px) {
   /* begin landmark sectoin  */
   .landmark-seciton {
    height: 1000px;
   }
   /* end landmark section  */
}
/* end tap  */